<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<%for (var i = 0; i < Name.length ; i++){%>
<tr>
    <td><a href="<%=Name[i].username%>"><%=Name[i].username%></a></td>

</tr>
<% }%>
</body>
</html>